POSTGRES_DB=crimewatch
POSTGRES_USER=crimewatch
POSTGRES_PASSWORD={{ crimewatch_postgres_password }}
DATABASE_URL=jdbc:postgresql://postgres:5432/crimewatch
DATABASE_USERNAME=crimewatch
DATABASE_PASSWORD={{ crimewatch_postgres_password }}
JWT_SECRET={{ crimewatch_jwt_secret }}
JWT_EXPIRATION_MS=86400000
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:5173,http://localhost:3000
DEMO_DATA_ENABLED=true
IMAGE_TAG=ansible

